*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    height:100vh;
    background-color: black; 
    /* position:relative;   */

    display: flex;
    justify-content: center;
    align-items:center;
}

.box{
    height: 100px;
    width:100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    /* position: absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%); -> The another way of having the element at the center rather than display flex*/
    /*  transform : translate(50%,50%) -> apne existing height aur width ke 50,50% move hoge*/
    animation-name:moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes moving{
    from{
        transform:rotate(0deg) translateX(200px)  rotate(0deg) ;
    }
    to{
       transform : rotate(360deg)  translateX(200px) rotate(-360deg);    
    }
    /* The another rotate is because to compensate its own rotation */
}